<article>
  <header>
    <h1>{{ .Title }}</h1>
    {{ with .Params.subtitle }}
    <span class="post__subtitle">
      {{.}}
    </span>
    {{ end }} 
    {{ partial "page-single/post-meta.html" . }}
    {{ partial "page-single/adsense1.html" . }}
  </header>
  <div class="post">
    {{ .Content }}
    <br/>
    {{ partial "page-single/feed_plug_post.html" . }}
  </div>
  {{ partial "page-single/adsense2.html" . }}
  {{ partial "page-single/post-navigation.html" . }}
  {{ partial "page-single/post-related.html" . }}
  {{ partial "page-single/post-comment.html" . }}
</article>
